---
Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
ReferenceAlignment: Left

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
...
