---
Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
ColumnLimit: 120
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
ReferenceAlignment: Left

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
...
